In [27]:
from AnalyzerSNCF import AnalyzerCalendarDates as Analyzer
import pandas as pd
analyzerTEST = Analyzer("TEST")
analyzer = Analyzer()

In [28]:
cities = analyzerTEST.get_list_of_cities()
print(cities)
print(analyzerTEST.stops)

            stop_name  stop_lat  stop_lon  number_of_appearance
stop_id
Carcassonne       NaN       NaN       NaN                     2
Laval             NaN       NaN       NaN                     4
Marseille         NaN       NaN       NaN                     1
Nantes            NaN       NaN       NaN                     2
Nantes2           NaN       NaN       NaN                     1
Paris             NaN       NaN       NaN                     2
Paris2            NaN       NaN       NaN                     2
Perpignan         NaN       NaN       NaN                     3
Rennes            NaN       NaN       NaN                     2
Strasbourg        NaN       NaN       NaN                     2
Vannes            NaN       NaN       NaN                     3
           stop_id    stop_name  stop_lat  stop_lon parent_station
0            Laval        Laval    42.000     2.000            NaN
1         Laval001        Laval    42.000     2.000          Laval
2            Paris        Paris    45.000     5.000            NaN
3         Paris001        Paris    45.000     5.000          Paris
4           Paris2       Paris2    45.001     5.001            NaN
5        Paris2001       Paris2    45.001     5.001         Paris2
6           Rennes       Rennes    40.000     0.000            NaN
7        Rennes001       Rennes    40.000     0.000         Rennes
8           Nantes       Nantes    45.000     0.000            NaN
9        Nantes001       Nantes    45.000     0.000         Nantes
10         Nantes2      Nantes2    45.001     0.001            NaN
11      Nantes2001      Nantes2    45.001     0.001        Nantes2
12       Marseille    Marseille    50.000    10.000            NaN
13    Marseille001    Marseille    50.000    10.000      Marseille
14       Perpignan    Perpignan    48.000     5.000            NaN
15    Perpignan001    Perpignan    48.000     5.000      Perpignan
16     Carcassonne  Carcassonne   100.000    15.000            NaN
17  Carcassonne001  Carcassonne   100.000    15.000    Carcassonne
18          Vannes       Vannes   -50.000     5.000            NaN
19       Vannes001       Vannes   -50.000     5.000         Vannes
20      Strasbourg   Strasbourg    90.000     9.000            NaN
21   Strasbourg001   Strasbourg    90.000     9.000     Strasbourg

In [31]:

appearance_count = analyzerTEST.stop_times.groupby("stop_id").count()["trip_id"]
appearance_stop_id = pd.merge(appearance_count, analyzerTEST.stops, on="stop_id")
appeareance_stop_area = appearance_stop_id.groupby("parent_station").sum()["trip_id"]
df_stop_area = analyzerTEST.stops_area[["stop_id", "stop_name", "stop_lat", "stop_lon"]].copy()
df_stop_area.set_index("stop_id", inplace=True)
df_stop_area = df_stop_area.assign(number_of_appearance=appeareance_stop_area)
analyzerTEST.city_list = df_stop_area
df_stop_area

        stop_id    stop_name  stop_lat  stop_lon parent_station
0         Laval        Laval    42.000     2.000            NaN
2         Paris        Paris    45.000     5.000            NaN
4        Paris2       Paris2    45.001     5.001            NaN
6        Rennes       Rennes    40.000     0.000            NaN
8        Nantes       Nantes    45.000     0.000            NaN
10      Nantes2      Nantes2    45.001     0.001            NaN
12    Marseille    Marseille    50.000    10.000            NaN
14    Perpignan    Perpignan    48.000     5.000            NaN
16  Carcassonne  Carcassonne   100.000    15.000            NaN
18       Vannes       Vannes   -50.000     5.000            NaN
20   Strasbourg   Strasbourg    90.000     9.000            NaN

               stop_name  stop_lat  stop_lon  number_of_appearance
stop_id
Laval              Laval    42.000     2.000                     4
Paris              Paris    45.000     5.000                     2
Paris2            Paris2    45.001     5.001                     2
Rennes            Rennes    40.000     0.000                     2
Nantes            Nantes    45.000     0.000                     2
Nantes2          Nantes2    45.001     0.001                     1
Marseille      Marseille    50.000    10.000                     1
Perpignan      Perpignan    48.000     5.000                     3
Carcassonne  Carcassonne   100.000    15.000                     2
Vannes            Vannes   -50.000     5.000                     3
Strasbourg    Strasbourg    90.000     9.000                     2